html {
	background-image: radial-gradient(circle, #d1d0d0 10%, white 60%);
}

content {
	text-align: center;
	display: block;
	padding-bottom: 25px;
}

footer {
	width: 100%;
	height: 25px;
	position: absolute;
	bottom: -8px;
	margin-top: 20px;
}

h1 {
	clear: both;
	background-color: black;
	color: white;
	width: 400px;
	margin: 0 auto 0 auto;
	margin-bottom: 12px;
	border-radius: 4px;
	padding: 4px;
}

.footerContent {
	float: right;
}

.backButton {
	float: left;
	width: 100px;
	height: 20px;
	text-decoration: none;
	font-weight: bold;
	color: black;
	font-size: 16pt;
}

.backButton:hover {
	text-decoration: underline;
}

.hidden {
	display: none !important;
}

.blockCenter {
	margin: 0 auto 0 auto;
}

#page-container {
	font-family: Sans-serif;
	position: relative;
	min-height: 100vh;
}